:root{
    --text-padding: 20px;
}

.home-container {
    background-image: url("../images/background2.jpg");
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--navy-color);
    align-items: center;
    justify-content: space-evenly;
    height: 600px; 
}

.home-name{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: var(--text-padding) 0 0 0;
    font-weight: bolder;
    text-decoration: underline var(--teal-color) 8px;
}

.home-text-container, .home-welcome {
    width: 500px;
    font-size: 1.5rem;
}

.home-description{
    color: black;
    line-height: 1.75;
    padding: var(--text-padding) 0 0 0;
}

.home-profile {
    max-height: 400px;
    max-width: 400px;
    display: flex;
    justify-content: center;
}


.home-profile-picture {
    max-width: 100%;
    border-radius: 15%;
    box-shadow: 0 0px 10px 2px black;
}

.home-profile-picture:hover{
    transform: scale(1.05, 1.05);
    transition-duration: 500ms;
}

@media (max-width: 768px){
    .home-container{
        flex-direction: column-reverse;
        height: 100vh;
    }
    .home-text-container {
        margin-top: 20px;
        max-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    } 
    .home-welcome, .home-name, .home-description{
        text-align: center;
    }
}