/* 
List of Todo:
Need to Add Drop Down Menu when Screen is small
*/


/* General Styles */
body {
    margin: 0;
    font-family: "Monaco", 'Courier New', Courier, monospace;
}

/* Navbar Styles */
.navbar {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.navbar-logo a img {
    max-height: 40px;
}

.navbar-menu {
    list-style: none;
    display: flex;    
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 15px;
}

.navbar-menu a {
    text-decoration: none;
    color: rgb(14, 75, 137);
    font-size: 18px;
    transition: color 0.2s;
}

.navbar-menu a:hover {
    color: rgb(77, 193, 193);
}

