body {
  font-family: Arial, sans-serif;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 1rem 0;
  background-color: #3498db;
  border-bottom: 1px solid #ddd;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
